body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 117, 117);
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}


.menu-lista {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item {
    padding: 1em;
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.section-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.busca {
    padding: 1em;
}

.input {
    text-align: center;
    border-radius: 10px;
    height: 30px;
}



.perfil {
    padding: 1em;
}

.entrar {
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.cadastrar {
    color: rgb(121, 117, 117);
}

hr {
    width: 50%;
}

.botao {
    display: none;
}

.cartao {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    padding-top: 100px;
    gap: 2em;
}

.card {
    padding: 1em;
    width: 250px;
}

.card-principal {
    border: 1px solid rgb(193, 193, 193);
    width: 250px;
    height: 450px;
}

.foto-card {
    width: 250px;
}

.texto-card {
    padding: 2.5em;
}

#star {
    padding-top: 0;
    padding: 0;
}

.avaliacao {
    padding: 0;
    padding-top: 0;
}



.titulo-card {
    font-weight: bold;
    color: black;
}

.preco {
    font-weight: bold;
    color: rgb(159, 146, 59);
}

.section-dois {
    padding-left: 230px;
    padding-top: 100px;
    color: black;
}

.email {
    padding: 10px;
}

.botao-dois {
    padding: 10px;
}

.teste {
    width: 80%;
}

.footer {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.lista-redes {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-top: 0;
}

.lista-sobre {
    list-style: none;

}

.itens-sobre {
    text-decoration: none;
    color: rgb(121, 117, 117);
    line-height: 1em;
}

.material-icons.md-20 {
    font-size: 20px;
    padding: 5px;

}

.teste-um {
    display: flex;
    align-items: center;
}

.lista-contato {
    list-style: none;
}

.itens-contato {
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.lista-pagamento {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 0;
}

.itens-pagamento {
    
}

.texto-footer {
    color: black;
}

.copy {
    padding-top: 50px;
    font-size: 13px;
    text-align: center;
}

@media screen and  (max-device-width: 900px) {

    .menu {
        display: flex;
        justify-content: end;
        margin-top: -70px;
        padding-right: 10px;
    }

    .menu-lista{
        display: none;
        height: 100%;
        text-align: end;
    }

    .botao {
        display: block;
        background: none;
        border: none;
    }

    .section-principal {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 50px;

        
    }

    .icone-perfil {
        display: none;
    }

    .perfil {
        display: none;
    }
    

    .menu-item {
        display: inline-block;
        text-align: end;
    }

    #burguer {
        display: block;
        cursor: pointer;
    }

    .cartao {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding-top: 100px;
        gap: 1em;
    }
    
    .card {
        padding: 1em;
    }
    
    .card-principal {
        border: 1px solid rgb(193, 193, 193);
        width: 150px;
        height: 320px;
    }

    .foto-card {
        width: 150px;
        height: 140px;
    }

    .material-icons.md-18 {
        font-size: 20px;
    }

    .texto-card {
        padding: 1em;
    }

    .section-dois {
        padding-left: 0;
        padding-top: 100px;
        color: black;
    }

    .footer {
        padding-top: 100px;
        display: grid;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 0;
    }

    .lista-redes {
        justify-content: center;
    }

    .sobre-nos {
        padding-left: 0;
    }

    .lista-sobre {
        padding-left: 0;
    }

    .contato {
        padding-left: 0;
    }

    .lista-contato {
        padding-left: 0;
    }

    .pagamento {
        padding-left: 0;
    }




}
