body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 117, 117);
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.logo-a {
    color: rgb(121, 117, 117);
    list-style: none;
    text-decoration: none;
}


.menu-lista {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item {
    padding: 1em;
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.section-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.busca {
    padding: 1em;
}

.input {
    text-align: center;
    border-radius: 10px;
    height: 30px;
}



.perfil {
    padding: 1em;
}

.entrar {
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.cadastrar {
    color: rgb(121, 117, 117);
}

hr {
    width: 50%;
}

.botao {
    display: none;
}

.cartao {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    padding-top: 100px;
    gap: 2em;
}

.card {
    padding: 1em;
    width: 250px;
}

.card-principal {
    border: 1px solid rgb(193, 193, 193);
    width: 250px;
    height: 500px;
}

.foto-card {
    width: 250px;
}

.texto-card {
    padding: 2.5em;
}

#star {
    padding-top: 0;
    padding: 0;
}

.avaliacao {
    padding: 0;
    padding-top: 0;
}

.ver-produto {
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 10px;
}

.titulo-card {
    font-weight: bold;
    color: black;
}

.preco {
    font-weight: bold;
    color: rgb(159, 146, 59);
}

.section-dois {
    padding-left: 230px;
    padding-top: 100px;
    color: black;
}

.email {
    padding: 10px;
}

.botao-dois {
    padding: 10px;
}

.teste {
    width: 80%;
}

.footer {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.lista-redes {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-top: 0;
}

.lista-sobre {
    list-style: none;

}

.itens-sobre {
    text-decoration: none;
    color: rgb(121, 117, 117);
    line-height: 1em;
}

.material-icons.md-20 {
    font-size: 20px;
    padding: 5px;

}

.teste-um {
    display: flex;
    align-items: center;
}

.lista-contato {
    list-style: none;
}

.itens-contato {
    text-decoration: none;
    color: rgb(121, 117, 117);
}

.lista-pagamento {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 0;
}

.itens-pagamento {
    
}

.texto-footer {
    color: black;
}

.copy {
    padding-top: 50px;
    font-size: 13px;
    text-align: center;
}

.cartao-dois {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.borda-dois {
    border: 1px solid gray;
}

.card-dois {
    padding: 1em;
}

.card-tres {
    padding: 1em;
    text-align: center;
}

.borda-tres {
    border: 1px solid gray;
    padding: 1em;
}

.avaliacao-dois {
    text-align: center;
}

.texto-pagamento {
    color: white;
    text-align: center;
}

.tamanho {
    display: flex;
    justify-content: center;
}

.cartao-tam {
    padding: 1em;
}

.card-tam {
    text-align: center;
    width: 45px;
    border: 1px solid gray;
}

.preco-compra {
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(159, 146, 59);
    font-size: 24px;
}

.comprar {
    color: white;
    background-color: black;
    padding: 10px;
    width: 150px;
}

.cep {
    padding: 10px;
}

.caminhao {
    width: 20px;
    padding: 1px;
}

.descricao {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    padding-right: 600px;
}

.itens-desc {
    padding: 1em;
}

.descricao-dois {
    display: flex;
    justify-content: center;
    padding-right: 450px;
}

.itens-desc-dois {
    line-height: 30px;
}

.produtos-rel {
    text-align: center;
    padding-top: 50px;
}

.cartao-rel {
    display: flex;
    justify-content: center;
}

.card-rel {
    padding: 1em;
}

.foto-final {
    width: 200px;
    padding: 1em;
    padding-top: 0;
}

.texto-compra {
    padding: 1em;
    padding-top: -10px;
}

.card-compra {
    width: 710px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;

}

.compra {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.card-form {
    padding-top: 50px;
}

.passo-um {
    font-size: 13px;
}

.form-pix {
    display: flex;
    justify-content: center;
}

.texto-pix {
    padding-right: 0;
    border: 1px solid gray;
    padding: 1em;

}

.finalizar-pix {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.input-cartao {
    padding: 15px;
    width: 250px;
}

.input-cvv {
    padding: 15px;
}

.texto-cartao {
    width: 690px;
    padding-right: 0;
    border: 1px solid gray;
    padding: 1em;

}

@media screen and  (max-device-width: 900px) {

    .menu {
        display: flex;
        justify-content: end;
        margin-top: -70px;
        padding-right: 10px;
    }

    .menu-lista{
        display: none;
        height: 100%;
        text-align: end;
    }

    .botao {
        display: block;
        background: none;
        border: none;
        color: rgb(121, 117, 117);
    }

    .material-icons.md-30 {
        font-size: 28px;
    }

    .section-principal {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 50px;

        
    }

    .icone-perfil {
        display: none;
    }

    .perfil {
        display: none;
    }
    

    .menu-item {
        display: inline-block;
        text-align: end;
    }

    #burguer {
        display: block;
        cursor: pointer;
    }

    .cartao {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        padding-top: 100px;
        gap: 1em;
    }
    
    .card {
        padding: 1em;
    }
    
    .card-principal {
        border: 1px solid rgb(193, 193, 193);
        width: 150px;
        height: 380px;
    }

    .foto-card {
        width: 150px;
        height: 140px;
    }

    .material-icons.md-18 {
        font-size: 20px;
    }

    .texto-card {
        padding: 1em;
    }

    .section-dois {
        padding-left: 0;
        padding-top: 100px;
        color: black;
    }

    .footer {
        padding-top: 100px;
        display: grid;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 0;
    }

    .lista-redes {
        justify-content: center;
    }

    .sobre-nos {
        padding-left: 0;
    }

    .lista-sobre {
        padding-left: 0;
    }

    .contato {
        padding-left: 0;
    }

    .lista-contato {
        padding-left: 0;
    }

    .pagamento {
        padding-left: 0;
    }

    .teste {
        width: 50%;
    }

    .cartao-dois {
        display: block;
        justify-content: center;
    }

    .foto-compra {
        width: 320px;
    }

    .descricao-dois {
        padding-right: 0;
    }

    .itens-desc-dois {
        padding-left: 10px;
        line-height: 30px;
    }

    .descricao {
        padding-right: 60px;

    }

    .cartao-rel {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }

    .foto-final {
        width: 140px;
        padding-top: 40px;
    }


}
